.visual-page {
  padding: 20px;
}

.algo-tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}

.tab {
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 8px;
  background-color: #1e293b;
  color: var(--text-primary);
  font-weight: 500;
}

.tab.active {
  background-color: var(--accent-color);
  color: #969a9a;
}

.visual-content {
  text-align: center;
}
.visual-box {
  margin-top: 30px;
  height: 260px;
  border-radius: 12px;

  background-color: #eef2ff; /* xanh rất nhạt */
  color: #1e293b;            /* chữ đậm */

  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
